body {
    background-color: darkslategray;
    color:white;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
  }

  #game1,
  #game2 {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #game1 div,
  #game2 div {
    margin-bottom: 15px;
  }

  button {
    padding: 8px 15px;
    font-size: 16px;
    color:white;
    cursor: pointer;
    background-color: royalblue;
    border: 0;
    border-radius: 5px;
    margin-right: 10px;
  }

  button:hover {
    background-color: #4cae4c;
  }

  input[type="number"] {
    padding: 8px;
    width: 60px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }

  canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #ddd;
    background-color: ghostwhite;
    min-width:360px;
  }

  div {
    font-size: 18px;
  }


/* Container for the maze and controls */
.maze-container {
  position: relative;
  padding:50px;
}

.maze-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:110px;
  height:300px;
}
/* Style for arrow buttons */
.arrow-btn {
  cursor: pointer;
  background-color: transparent; /* White background */
  color: black; /* Arrow color */
  border: 2px solid black; /* Border for the arrow */
  border-radius: 50%; /* Round shape */
  width: 50px; /* Width of the button */
  height: 50px; /* Height of the button */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* Position absolutely within the maze-container */
  font-size: 24px; /* Adjust size as needed */
  color:white;
  font-size:xx-large;
}

.arrow-btn:hover {
  color:#4cae4c;
  background-color: transparent; /* White background */
  border-color: green;
}

/* Positioning the arrow buttons relative to the maze container */
.up-btn { top: -15px; left: 50%; transform: translateX(-50%); } /* Center horizontally */
.down-btn { bottom: -15px; left: 50%; transform: translateX(-50%); } /* Center horizontally */
/* Positioning the left and right arrow buttons */
.left-btn, .right-btn {
  top: 50%; 
  transform: translateY(-50%); /* This will vertically center the buttons */
}

.left-btn { 
  left: 50%; 
  transform: translateX(-25%) translateY(-50%); /* Adjust X translation for the left button */
  margin-left: -50%; /* This moves the button to the left edge of the maze-container */
}

.right-btn { 
  left: 50%; 
  transform: translateX(-75%) translateY(-50%); /* Adjust X translation for the right button */
  margin-left: 50%; /* This moves the button to the right edge of the maze-container */
}